@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');


/* * App */
.movieDiary{
  box-sizing: border-box;
  font-family: 'Gowun Dodum', sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  border-radius: 16px;
  margin: 0 auto;
  background-color: #f5f5f5;
}

/* * movieWrite */
.movieWrite{
  padding: 60px 80px;
}

/* * movieTitle 컴포넌트 */
.movieTitle{
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.movieTitle strong{
  font-size: 28px;
  margin-bottom: 12px;
}

.movieTitle input{
  font-family: 'Gowun Dodum', sans-serif;
  width: 360px;
  padding: 16px 20px;
  border-radius: 8px;
  border: none;
  background: #D9D9D9;
  font-size: 24px;
  outline: none;
}

/* * MovieDetail 컴포넌트 */
.movieDetail{
  display: flex;
  flex-direction: column;
}

.movieDetail strong{
  font-size: 28px;
  margin-bottom: 18px;
}

.movieDetail div label{
  display: inline-block;
  width: 82px;
  font-size: 24px;
}

.movieDetail input{
  font-family: 'Gowun Dodum', sans-serif;
  width: 360px;
  padding: 16px 20px;
  border-radius: 8px;
  border: none;
  background: #D9D9D9;
  font-size: 24px;
  outline: none;
  margin-bottom: 16px;
}

.movieDetail .seatContainer{
  margin-bottom: 80px;
}

.movieDetail .movieStar{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.movieDetail .movieStar select{
  width: 180px;
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  outline: none;
}

/* * MovieNav 컴포넌트 */
.movieNav ul{
  height: auto;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  background-color: #FFFEFE;
}

.movieNav ul li{
  list-style-type: none;
}

.movieNav ul li a{
  padding: 24px 231.5px;
  display: block;
  list-style-type: none;
  font-size: 36px;
  color: #d1cece;
  text-decoration: none;
}


.movieNav ul li a:hover{
  color: black;
  transition: color 0.5s ease-in-out;
}

/* * MovieList 컴포넌트 */
.movieList{
  display: flex;
  flex-direction: column;
}

.movieList li {
  width: 90%;
  padding: 24px;
  background-color: #d9d9d9;
  margin-bottom: 28px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.movieList li strong{
  font-size: 28px;
  margin-bottom: 20px;
}

.movieList li span{
 font-size: 24px;
}

.movieList li span{
  margin-bottom: 12px;
}

.movieList li span:nth-child(2){
  font-weight: 700;
}

/* * SubmitBtn 컴포넌트 */
.submitBtn{
  text-align: right;
}

.submitBtn button{
  cursor: pointer;
  font-family: 'Gowun Dodum', sans-serif;
  background-color: #ACB7C0;
  border-radius: 8px;
  padding: 20px 32px;
  border: none;
  font-size: 20px;
  font-weight: 700;
}

.submitBtn button:hover{
  background-color: #608080;
  transition: background-color 0.3s ease-in-out;
}

